:root{
    --hue: 270;
    --principal: hsl(var(--hue) 91% 50% / 1);
    --secundario: hsl(var(--hue) 71% 70% / 1);
    --resalto: hsl(var(--hue) 47, 73%, 56%);
    --negro: hsl(var(--hue) 21% 20% / 1);
    --blanco: hsl(var(--hue) 21% 98% / 1);
    --gris: hsl(var(--hue) 21% 80% / 1);
    --blpuro: hsl(var(--hue) 0, 0%, 100%);
}

/*Tarjetas de producto */

/* .card{
    width: 30%;
    border: 4px solid var(--principal);
    border-radius: 8px;
    overflow: hidden;
    display: flex */
    
/* } */
.navbar{

    display: flex


}


