:root{
    --black: #000000;
    --oxford-blue: #14213e;
    --orange-web: #fda312;
    --platinum: #e6e6e6;
    --white: #ffffff;

}

/*Tarjetas de producto */

.card{
    width: 60%;
    height: 20%;
    border: 8px solid (--black);
    border-radius: 16px;
    overflow: hidden;
    display: flex ;
    margin: auto;

}
.navbar{

    display: flex


}

body {
     background-color: hsl(42, 92%, 56%);
    background-image: url("Fondo.jpg");
    background-image: linear-gradient(hsl(0, 0%, 0%), hsl(44, 100%, 40%), hsl(44, 95%, 50%));
  }






